@{
    ViewData["Title"] = "Home Page";
    var list = new Currency() { }.Initiate();
}

<div class="text-center">
    <h1 class="display-4">Bellman ford</h1>
    <h1 class="display-6">Exchange Rates</h1>

    @foreach (var currency in list)
    {
        <div class="card bg-info ">
            <h5 class="card-header">@currency.Name</h5>
            <div class="card-body">
                <div class="row">
                    @foreach (var child in list)
                    {
                        @if (child.Name != currency.Name)
                        {
                            double? calculate = currency.Price / child.Price;
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <h5 class="card-header">@child.Name</h5>
                                    <div class="card-body">
                                        <table class="table table-responsive">
                                            <tbody>
                                                <tr>
                                                    <td>Price</td>
                                                    <td>@calculate.Value.ToString("n6")</td>
                                                </tr>
                                                <tr>
                                                    <td>Weight</td>
                                                    <td>
                                                        @(((double)-Math.Log(calculate??0)).ToString("n4"))
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
    }
    <br>
</div>
